:root {
  /* Family */
  --family-heading: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --family-body: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --family-code: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;

  /* LineHeights */
  --line-height-2xs: 1;
  --line-height-xs: 1.2;
  --line-height-sm: 1.4;
  --line-height-base: 1.6;
  --line-height-lg: 1.8;
  --line-height-xl: 2;

  /* TextSizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 4rem;

  --text-base: var(--text-md);
}

@media (min-width: 544px) {
  :root {
    --sm_text-xs: var(--text-xs);
    --sm_text-sm: var(--text-sm);
    --sm_text-md: var(--text-md);
    --sm_text-lg: var(--text-lg);
    --sm_text-xl: var(--text-xl);
    --sm_text-2xl: var(--text-2xl);
    --sm_text-3xl: var(--text-3xl);
    --sm_text-4xl: var(--text-4xl);
    --sm_text-5xl: var(--text-5xl);
    --sm_text-6xl: var(--text-6xl);

    --sm_text-base: var(--text-md);
  }
}

@media (min-width: 768px) {
  :root {
    --md_text-xs: var(--text-xs);
    --md_text-sm: var(--text-sm);
    --md_text-md: var(--text-md);
    --md_text-lg: var(--text-lg);
    --md_text-xl: var(--text-xl);
    --md_text-2xl: var(--text-2xl);
    --md_text-3xl: var(--text-3xl);
    --md_text-4xl: var(--text-4xl);
    --md_text-5xl: var(--text-5xl);
    --md_text-6xl: var(--text-6xl);

    --md_text-base: var(--text-md);
  }
}

@media (min-width: 1012px) {
  :root {
    --lg_text-xs: var(--text-xs);
    --lg_text-sm: var(--text-sm);
    --lg_text-md: var(--text-md);
    --lg_text-lg: var(--text-lg);
    --lg_text-xl: var(--text-xl);
    --lg_text-2xl: var(--text-2xl);
    --lg_text-3xl: var(--text-3xl);
    --lg_text-4xl: var(--text-4xl);
    --lg_text-5xl: var(--text-5xl);
    --lg_text-6xl: var(--text-6xl);

    --lg_text-base: var(--text-md);
  }
}

@media (min-width: 1280px) {
  :root {
    --xl_text-xs: var(--text-xs);
    --xl_text-sm: var(--text-sm);
    --xl_text-md: var(--text-md);
    --xl_text-lg: var(--text-lg);
    --xl_text-xl: var(--text-xl);
    --xl_text-2xl: var(--text-2xl);
    --xl_text-3xl: var(--text-3xl);
    --xl_text-4xl: var(--text-4xl);
    --xl_text-5xl: var(--text-5xl);
    --xl_text-6xl: var(--text-6xl);

    --xl_text-base: var(--text-md);
  }
}
