:root {
  --border-width: 1px;
  --border-color: hsl(var(--color-contrast-hsl-200));
  --border-style: solid;
}

[class*="border"] {
  border: 0 var(--border-style) var(--border-color);
}

.border {
  border-width: var(--border-width);
}
.border-t {
  border-top-width: var(--border-width);
}
.border-r {
  border-right-width: var(--border-width);
}
.border-b {
  border-bottom-width: var(--border-width);
}
.border-l {
  border-left-width: var(--border-width);
}
