<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./../../base.css" />
    <link rel="stylesheet" href="./spaces-between.css" />
  </head>
  <body>
    <div class="container">
      <div
        class="flex space-between-1 md-space-between-3 lg-space-between-0 xl-space-between-6"
      >
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
    </div>
  </body>
</html>
